//header
.header {
    position: relative;
    // width: 100%;
    // top: 0;
    // left: 0;
    z-index: 99;
    transition: 0.3s ease-out;
    background: #021677 url('../images/header_bg.jpg')no-repeat left top;
    background-size: auto 110px;
    height: 138px;
    @extend %clearfix;
    @include screen('mobile') {
        position: fixed;
        width: 100%;
        height: 110px;
    }
    // &:before {
    //     position: absolute;
    //     content: '';
    //     width: 100%;
    //     height: 100%;
    //     top: 0;
    //     left: 0;
    //     background: url('../images/header_bg2.png')no-repeat right top;
    //     background-size: auto 110px;
    //     // box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    //     pointer-events: none;
    //     z-index: -1;
    //     @include screen('mobile') {
    //         height: 60px;
    //         background: #021677 url('../images/header_bg2.png')no-repeat right top;
    //         background-size: auto 60px;
    //     }
    // }


    // mobile btn for extend
    %mobileCtrlBtn {
        width: 60px !important;
        height: 60px !important;
        position: absolute;
        z-index: 999999;
        top: 0px;
        display: block;
        font-size: 0em;
        padding: 15px;
        margin: 0;
        min-width: auto;
        min-height: auto;
        background: transparent;
        border: none;
        box-shadow: none;
        box-sizing: border-box;
        @include screen('mobile') {
            display: block !important;
        }
    }
    >.container {
        max-width: $container-max;
        overflow: visible;
        position: relative; // menu
        .sidebarCtrl {
            display: none;
            left: 0px;

            @extend %mobileCtrlBtn;
            span {
                position: absolute;
                background: #eee;
                width: 50%;
                height: 3px;
                top: 26px;
                left: 50%;
                margin-left: -25%;
                display: block;
                border-radius: 2px;
                z-index: 9999999;
                &:nth-child(2) {
                    top: 34px;
                }
                &:nth-child(3) {
                    top: 42px;
                }
            }
        }
        // search
        .searchCtrl {
            display: none;
            right: 0px;
            font-size: 0em;
            display: none!important;

            @extend %mobileCtrlBtn;
            &:before {
                width: 40px;
                height: 40px;
                background: url(../images/basic/icon_search.png) no-repeat center center;
                background-size: 28px;
                opacity: 0.6;
                content: '';
                position: absolute;
                top: 10px;
                left: 10px;
                display: block;
            }
        }
    }
    h1 {
        // float: left;
        width: 680px;
        min-height: 75px;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        position: absolute;
        top:40px;
        left:.75em;
        z-index: 9999;

        a {
            display: inline-block;
            text-shadow: 2px 2px 5px rgba(0, 0, 0, .8);
            color:#fff;
            line-height: 1.45em;
            font-weight: 500;
            font-size: .813em;
            letter-spacing: 1px;


        }
        img {
            display: block;
            max-width: 680px;
            max-height: 75px;
        }
        .eng{
            display: inline-block;
            color:#fff;
            line-height: 1.35em;
            font-weight: 400;
            letter-spacing: 0;
            font-size: .813em;
            margin-left: .3em;
        }
        .sub{
            display: block;
            color:#fff;
            line-height: 1.35em;
            font-weight: 400;
            letter-spacing: 0;
            font-size: .6em;
        }

        @include screen('tablet') {

        }
        @include screen('mobile') {
        // padding: 2px 60px ;
        top:20px;
        left:60px;
        // width: 100%;
        text-align: left;
        // height: 60px;
        a {
            font-size: .75em;
            letter-spacing: 1px;
            line-height: 1.25em;

        }
        .eng{
            display: block;
            line-height: 1.45em;
            font-weight: 400;
            letter-spacing: 0;
            font-size: .7em;
            margin-left: 0;
        }
        .sub{
            display: block;
            color:#fff;
            line-height: 1.35em;
            font-weight: 400;
            letter-spacing: 0;
            font-size: .4em;
        }
        img {
            width: auto;
            height: auto;
            max-height: 54px;
            max-width: 320px;
            margin: 15px auto 0;
                // transform: scale(0.8);
            }
        }
    }
    // 導覽列
    .navigation {
        background: #fff;
        height: 28px;
        @include screen('mobile') {
            display: none;
        }
        @extend %clearfix;
        box-sizing: border-box;
        display: flex;
        .navlist {
            flex: 1 1 auto;
            margin: 0 0.5em 0 0;
            ul {
                padding: 0;
                margin: 0;
                font-size: 0.875em;
                list-style: none;
                display: flex;
                justify-content: flex-end;
            }
            li {
                flex: 0 0 auto;
                a {
                    display: block;
                    padding: 0.15em .6em;
                    text-decoration: none;
                    @include aSetting_nocolor;
                    position: relative;
                    &:before{
                        content:'';
                        width: 1px;
                        height: .8em;
                        background:#555;
                        position: absolute;
                        left:0;
                        top:.7em;
                    }
                }
                &:first-child a{
                 &:before{
                    display: none;
                }

            }
        }
    }
        // 字級
        .language {
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: 140px;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            align-self: center;
        }
    }
}

//search
.search {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    vertical-align: top;
    font-size: 0.938em;
    margin: 1em 0.5em;
    box-sizing: border-box;
    @include screen('mobile') {
        display: none;
    }
    label {
        font-size: 0em;
    }
    .form_grp {
        flex: 0 0 auto;
        margin: 0;
        input {
            margin: 0 0 0 0.5em;
            padding: 0.25em 0.5em;
            box-shadow: none;
            width: auto;
            &[type='submit'] {
                min-width: auto;
                padding: 0.2em 0.8em;
            }
            &:focus {
                box-shadow: 0 0px 0px 2px $aFocus;
            }
        }
        button,
        .btn,
        .btn-search {
            min-width: auto;
            padding: 0.2em 0.8em;
            margin: 0;
            &:hover,
            &:focus {
                box-shadow: none !important;
            }
        }
    }
    .btn_grp {
        flex: 0 0 auto;
        padding: 0 0.5em 0;
        margin: 0;
        button,
        .btn,
        .btn-search {
            min-width: auto;
            padding: 0.2em 0.8em;
            margin: 0;
            &:hover,
            &:focus {
                box-shadow: none !important;
            }
        }
    }
    .keywordHot {
        flex: 1 1 100%;
        ul {
            font-size: 0.813em;
            line-height: 1.65em;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: flex-end;
            list-style-type: none;
            &:before {}
            li {
                margin: 0;
                padding: 0.5em;
                flex: 0 0 auto;
            }
            a {
                @include aSetting_nocolor;
            }
        }
    }
}

// m_search
.m_search {
    width: 100% !important;
    max-width: 100% !important;
    min-width: auto;
    padding: 0.8em 0.3em;
    display: block;
    height: auto;
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 98;
    background: #333;
    display: none;
    margin: 0;
    label {
        font-size: 0em;
        line-height: 0;
    }
    .form_grp {
        display: flex;
        align-items: center;
        label {
            display: none;
            flex: 0 0 0%;
        }
        input {
            margin: 0.5em;
            padding: 0.5em;
            flex: 1 1 50%;
            max-width: 70%;
            &[type='submit'] {
                flex: 0 1 15%;
                margin: 0.5em;
            }
        }
        .btn,
        .btn-search {
            min-width: auto;
            padding: 0.5em 0.8em;
            margin: 0;
            flex: 1 1 20%;
            max-width: 25%;
            &:hover,
            &:focus {
                box-shadow: none !important;
            }
        }
    }
    .btn_grp {
        flex: 1 1 auto;
        padding: 0.25em 0.5em;
        border-bottom: solid 1px #444;
        box-sizing: border-box;
        text-align: right;
        .btn {
            width: auto !important;
            padding: 0.2em 0.5em !important;
            margin: 0;
            background: transparent;
            font-size: 0.875rem;
            color: #ddd;
            border: none;
            &:hover,
            &:focus {
                color: lighten($aHover, 10);
            }
        }
    }
    .keywordHot {
        flex: 1 1 100%;
        ul {
            font-size: 0.875em;
            line-height: 1.65em;
            margin: 0;
            padding: 0.5em 0 0 0.5em;
            display: flex;
            justify-content: flex-start;
            list-style-type: none;
            &:before {}
            li {
                margin: 0;
                padding: 0.5em;
                flex: 0 0 auto;
            }
            a {
                color: #fff;
                &:hover,
                &:focus {
                    color: lighten($aHover, 10);
                }
            }
        }
    }
}

.mp{
    .header{
        display: none;
        @include screen('mobile') {
            display: block;
            background: none;
            &:before {
              background: none;  
          }
      }
      >.container {
         .sidebarCtrl {
            span{
                background: #19367B;
            }
        } 

    }


}
}

// header fix
// .header.fixed {
//     position: fixed;
//     width: 100%;
//     right: 0;
//     top: 0;
//     box-shadow: rgba(0, 0, 0, 0.5) 0 0 25px;
//     background: rgba(0, 0, 0, 0.75);
//     z-index: 999;
//     &:before {
//         background: rgba(0, 0, 0, 0.35);
//     }
//     @include screen('mobile') {
//         background: #fff;
//     }
//     .menu {
//         > ul {
//             > li {
//                 > a {
//                     color: #fff;
//                 }
//             }
//         }
//     }
//     .megamenu {
//         > ul {
//             > li {
//                 > a {
//                     color: #fff;
//                 }
//             }
//         }
//     }
// }