
@mixin text-line($value) {
    overflow: hidden;
    text-overflow: -o-ellipsis-lastline;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $value;
    -webkit-box-orient: vertical;
}
.thumbnail {
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.1);
    background: #FFF;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    transition: all .3s ease;
    border: solid 1px #eee;

    &:hover{
        box-shadow: 0 12px 2em -1em rgba(0, 0, 0, 0.5);
    }

    a {
        display: block;
        @include aSetting(#333);
        position:relative;
        &:focus {
            &:before{
                content:"";
                position:absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top:0;
                right:0;
                bottom:0;
                z-index: 1;
                box-shadow:0px 0px 0px 1px $aHover inset;
            }
        }
    }
    .img-container {
        @include aspect-ratio(4, 3);
        margin-bottom: .5em;
    }
    h2, h3, h4 {
        margin: .2em 0;
    }

    h3{
        @include text-line(2);
        height: 3em;
        overflow: hidden;
        // font-weight: normal;
        line-height: 1.5em;
    }
    .caption {
        width: 90%;
        margin: 1em auto 0;
        padding-bottom:1em;
    }
    .btn_grp {
        padding: .2em 0 1em;
        @extend %clearfix;
        .btn{
            background: $primaryColor;
            color:#fff;
            width: 90%;
            &:hover, &:focus{
                background: darken($primaryColor, 10);;
            }
        }
    }
    hr {
        width: 90%;
        margin: .1em auto 1em;
    }
    p{
        font-size: .938em;
        color:#666;
        @include text-line(4);
        height: 5.8em;
        overflow: hidden;
        line-height: 1.5em;
    }
}

.cp{
  .thumbnail {
    p{
        height: 4.6em;
        // overflow: hidden;
        line-height: 1.5em;
        font-size: .875em;
        @include text-line(3);

    }
}  
}